.onboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-content: space-between;
  flex-wrap: nowrap;
}

.onboard .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 6px;
}

.onboard .input {
  display: flex;
  margin: 6px;
}

.onboard .submit {
  display: flex;
  margin: 6px;
}
